<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Bỏ qua nếu file hoặc thư mục thật có tồn tại
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Tất cả request chuyển về index.html
    RewriteRule ^ index.html [QSA,L]
</IfModule>
